

#background{
    /* The image used */
    /*background-image: url();*/

    /*background-position:fixed;*/
     /*Full height*/
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: auto;
    margin: auto;

}

.container{
    position: relative;

    color: white;
}
#header {
    font-size: 450%;
    margin: auto;
    width: 40%;
    border: 2px;
    padding: auto;
    position: relative;
    top: 100px; left: 100px;  bottom: 100px; right: 100px;
}
#subheader {
    font-size: 150%;
    margin: auto;
    width: 40%;
    border: 2px;
    padding: auto;
    position: relative;
    top: 100px; left: 100px;  bottom: 100px; right: 100px;
}

/*#image {*/
    /*position: relative;*/
    /*top: 120px; left: 530px;  bottom: 200px; right: 300px;*/
    /*!*width: 15%;*!*/
/*}*/


