

#background{
    /*background-position:fixed;*/

    padding: auto;
    margin: auto;

}

.image {
    /* The image used */
    /*background-image: url('');*/
    position: fixed;

    /*Full height*/
    height: auto;
    /*!* Center and scale the image nicely *!*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*top: 120px; left: 530px;  bottom: 200px; right: 300px;*/
    /*width: 15%;*/
}

.container{
    position: relative;

    color: white;
}
#header {
    font-size: 450%;
    margin: auto;
    width: 40%;
    border: 2px;
    padding: auto;
    position: relative;
    top: 100px; left: 100px;  bottom: 100px; right: 100px;

}
#subheader {
    font-size: 150%;
    margin: auto;
    width: 40%;
    border: 2px;
    padding: auto;
    position: relative;
    top: 100px; left: 100px;  bottom: 100px; right: 100px;
    /*color: #f9f9f9;*/
}




